{% extends 'todos/base.html' %}
{% load static %}

{% block body %}
<link rel="stylesheet" type="text/css" href="{% static 'todos/style.css' %}">
<div class="dialog_container">
  <!-- The Modal -->
  <div class="dialog" id="edit_todo_dialog">
    <!-- Modal Header -->
    <div class="dialog_header">
      
    </div>

    <!-- Modal body -->
    <div class="row justify-content-center" style="padding-top: 50px;" >
    <div class="card text-white bg-primary mb-3" style="max-width: 50rem;height: fit-content;">
      <div class="dialog_header" style="padding: 10px;">
        <h4 class="dialog_title">Edit Todo_Item</h4>
        <hr>
      </div>
      
      <div class="card-body">
        
        <div class="dialog-body">
          <div class="todo_edit_form">
            <form action="{% url 'todos:update' todo_id %}" method="post">
              {% csrf_token %}
              <div class="form-group">
                <p>TASK NAME</p>
                <input type="text" class="form-control" name="todo_text" value="{{ todo_text }}"><br>
                <P style="display: inline;">DUE DATE</P>
                <div class="input-group date" id="dateCreated" data-target-input="nearest" style="top: 1.5em;">
                
                  <input type="text" class="form-control datetimepicker-input" name="due_date" value="{{ due_date }}" data-target="#dateCreated" >
                  <div class="input-group-append" data-target="#dateCreated" data-toggle="datetimepicker"              >
                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                  </div>
                </div>
              </div>

            <br><br>
              <div class="dialog_footer">
                <button type="submit" class="btn btn-secondary">Save &amp; Close</button>
                <a href="/todos" class="btn btn-danger">Close</a>
                <input type=button value="<--  Go Back to the previous page" onClick="window.history.back();return false;"  class="btn btn-success" style="padding: 5px;">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
{% endblock %}
